<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="osnet_x0_25_msmt17.pt"/>
  <arg name="image_topic" default="image"/>
  <arg name="rects_topic" default="rects"/>
  <arg name="results_topic" default="results"/>

  <node pkg="box_mot" type="tracker.py" name="tracker" output="screen">
    <param name="model" value="$(arg model)"/>
    <remap from="image" to="$(arg image_topic)"/>
    <remap from="rects" to="$(arg rects_topic)"/>
    <remap from="results" to="$(arg results_topic)"/>
  </node>
</launch>
